# IDEs
.idea
.vscode

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
__debug_bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage/

# Antora related
.asciidoctor
.cache
_public/
_archive/
tmp/

.github/release-notes.md

k8up-crd*.yaml

/k8up

# Go releaser
dist/

# Test related
node_modules/
e2e/debug
.integration-test/
.e2e-test/
/.work/

# Charts
.cr-release-packages/
.cr-index/
