---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: snapshots.k8up.io
spec:
  group: k8up.io
  names:
    kind: Snapshot
    listKind: SnapshotList
    plural: snapshots
    singular: snapshot
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Date when snapshot was taken
      jsonPath: .spec.date
      name: Date taken
      type: string
    - description: Snapshot's paths
      jsonPath: .spec.paths[*]
      name: Paths
      type: string
    - description: Repository Url
      jsonPath: .spec.repository
      name: Repository
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Snapshot is the Schema for the snapshots API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              SnapshotSpec contains all information needed about a restic snapshot so it
              can be restored.
            properties:
              date:
                format: date-time
                type: string
              id:
                type: string
              paths:
                items:
                  type: string
                type: array
              repository:
                type: string
            type: object
          status:
            description: SnapshotStatus defines the observed state of Snapshot
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
