
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: checks.k8up.syn.tools
spec:
  group: k8up.syn.tools
  names:
    kind: Check
    listKind: CheckList
    plural: checks
    singular: check
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Check is the Schema for the checks API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: CheckSpec defines the desired state of Check
          properties:
            backend:
              properties:
                azure:
                  properties:
                    container:
                      type: string
                  type: object
                b2:
                  properties:
                    bucket:
                      type: string
                    path:
                      type: string
                  type: object
                gcs:
                  properties:
                    bucket:
                      type: string
                  type: object
                local:
                  properties:
                    mountPath:
                      type: string
                  type: object
                repoPasswordSecretRef:
                  description: RepoPasswordSecretRef references a secret key to look
                    up the restic repository password
                  properties:
                    key:
                      description: The key of the secret to select from.  Must be
                        a valid secret key.
                      type: string
                    name:
                      description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        TODO: Add other useful fields. apiVersion, kind, uid?'
                      type: string
                    optional:
                      description: Specify whether the Secret or its key must be defined
                      type: boolean
                  required:
                  - key
                  type: object
                rest:
                  properties:
                    url:
                      type: string
                  type: object
                s3:
                  properties:
                    bucket:
                      type: string
                    endpoint:
                      type: string
                  type: object
                swift:
                  properties:
                    container:
                      type: string
                    path:
                      type: string
                  type: object
              type: object
            keepJobs:
              type: integer
            promURL:
              type: string
          type: object
        status:
          description: CheckStatus defines the observed state of Check
          properties:
            exclusive:
              type: boolean
            finished:
              type: boolean
            jobName:
              type: string
            started:
              type: boolean
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
