
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: backups.k8up.syn.tools
spec:
  group: k8up.syn.tools
  names:
    kind: Backup
    listKind: BackupList
    plural: backups
    singular: backup
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Backup is the Schema for the backups API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            backend:
              description: Backend contains the restic repo where the job should backup
                to.
              properties:
                azure:
                  properties:
                    container:
                      type: string
                  type: object
                b2:
                  properties:
                    bucket:
                      type: string
                    path:
                      type: string
                  type: object
                gcs:
                  properties:
                    bucket:
                      type: string
                  type: object
                local:
                  properties:
                    mountPath:
                      type: string
                  type: object
                repoPasswordSecretRef:
                  description: RepoPasswordSecretRef references a secret key to look
                    up the restic repository password
                  properties:
                    key:
                      description: The key of the secret to select from.  Must be
                        a valid secret key.
                      type: string
                    name:
                      description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        TODO: Add other useful fields. apiVersion, kind, uid?'
                      type: string
                    optional:
                      description: Specify whether the Secret or its key must be defined
                      type: boolean
                  required:
                  - key
                  type: object
                rest:
                  properties:
                    url:
                      type: string
                  type: object
                s3:
                  properties:
                    bucket:
                      type: string
                    endpoint:
                      type: string
                  type: object
                swift:
                  properties:
                    container:
                      type: string
                    path:
                      type: string
                  type: object
              type: object
            keepJobs:
              description: KeepJobs amount of jobs to keep for later analysis
              type: integer
            promURL:
              description: PromURL sets a prometheus push URL where the backup container
                send metrics to
              type: string
            statsURL:
              description: StatsURL sets an arbitrary URL where the wrestic container
                posts metrics and information about the snapshots to. This is in addition
                to the prometheus pushgateway.
              type: string
            tags:
              description: Tags is a list of arbitrary tags that get added to the
                backup via Restic's tagging system
              items:
                type: string
              type: array
          type: object
        status:
          properties:
            exclusive:
              type: boolean
            finished:
              type: boolean
            jobName:
              type: string
            started:
              type: boolean
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
