{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "k8up.serviceAccountName" . }}
  labels:
{{ include "k8up.labels" . | indent 4 }}
{{- with .Values.serviceAccount.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
{{- end }}

{{- end -}}
