@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local("Ubuntu Mono"),
    local("UbuntuMono-Regular"),
    url(../node_modules/typeface-ubuntu-mono/files/ubuntu-mono-latin-400.woff2) format("woff2"),
    url(../node_modules/typeface-ubuntu-mono/files/ubuntu-mono-latin-400.woff) format("woff");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 700;
  src:
    local("Ubuntu Mono Medium"),
    local("UbuntuMono-Medium"),
    url(../node_modules/typeface-ubuntu-mono/files/ubuntu-mono-latin-700.woff2) format("woff2"),
    url(../node_modules/typeface-ubuntu-mono/files/ubuntu-mono-latin-700.woff) format("woff");
}
