/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
 @import url(../libs/@fontsource/montserrat/900.css);
 @import url(../libs/@fontsource/montserrat/index.css);
 @import url(typeface-ubuntu-mono.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: rgb(0, 13, 26); }

::selection {
  color: #fff;
  background: rgb(76, 195, 255);
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: rgb(76, 195, 255);
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }


/*********************************************
 * MULTI-COLUMN SUPPORT
 *********************************************/

section > .columns > .content {
  display: flex;
}

section > .columns-middle > .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.columns .content .column {
  flex: 1;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 1em 0;
  color: rgb(0, 13, 26);
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 70px;
  margin-bottom: 1.2em; }

.reveal h2 {
  font-size: 50px; }

.reveal h3 {
  font-size: 40px; }

.reveal h4 {
  font-size: 30px; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.6; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ul {
  list-style-type: disc;
}

.reveal ul > li {
    color: #4cc3ff;
}

.reveal ul > li > p {
    display: inline;
    color: rgb(0, 13, 26);
}

.reveal ol {
  list-style-type: decimal; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: "Ubuntu Mono", monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: "Ubuntu Mono", monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table.tableblock, th.tableblock, td.tableblock {
  border: solid 1px transparent;
}

.reveal .colist table td {
  border-bottom: solid 1px transparent;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 1px transparent; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
  border-right: none; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: rgb(76, 195, 255);
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: rgb(76, 195, 255);
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: rgb(76, 195, 255); }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  border: none;
 }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgb(76, 195, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: rgb(255, 198, 28); }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: rgb(255, 198, 28); }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }

/*********************************************
 * CUSTOM ROLES
 *********************************************/

section.coverimage>h2,
section.coverimage>.ulist,
section.coverimage>.olist,
section.coverimage>.admonitionblock,
section.coverimage>.paragraph,
section.coverimage>.slide-content .ulist {
  background-color: rgba(255,255,255,0.6);
  color: rgb(0, 13, 26);
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/

 .reveal .slide-number {
  font-family: "Montserrat";
  font-size: 50%;
  font-weight: bold;
  background-color: rgb(0, 13, 26);
  color: rgb(76, 195, 255);
  padding: 0px 15px 9px 15px;
  display: none!important;
}

/*********************************************
 * HEADER
 *********************************************/

#slides-header {
  display: none;
}

/*********************************************
 * FOOTER
 *********************************************/

#slides-footer {
  display: none!important;
}

.footer {
  position: absolute;
  display: table;
  width: 100%;
  bottom: 0;
  background-color: rgb(0, 13, 26);
  color: rgb(76, 195, 255);
  font-weight: bold;
}

.footer span {
  display: table-cell;
  padding: 0px 15px 9px 15px;
  min-width: 150px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 50%;
  vertical-align: middle;
}

.footer span:nth-of-type(1) {
  text-align: left;
  padding: 6px 15px 6px 15px;
}

.footer span:nth-last-child(1) {
  text-align: center;
}

.footer #footer_logo {
  height: 29px;
  /*
  Calculated with
  https://codepen.io/sosuke/pen/Pjoqqp
  via
  https://stackoverflow.com/a/53336754
  */
  filter: invert(59%) sepia(97%) saturate(735%) hue-rotate(173deg) brightness(103%) contrast(101%);
}


/*********************************************
 * HORIZONTAL RULER
 *********************************************/

hr {
  width: 30%;
  border: 2px solid rgb(255, 198, 28);
  border-radius: 5px;
}

/*********************************************
 * FANCY UNDERLINE BELOW H2
 *********************************************/

.reveal h2,
.reveal h1 {
  position: relative;
}

.reveal h2::after,
.reveal h1::after {
  content: '';
  height: 4px;
  width: 30%;
  background: rgb(255, 198, 28);
  position: absolute;
  margin: auto;
  bottom: -5px;
  left: 0;
  right: 0;
  border-radius: 5px;
}

/*********************************************
 * COLORS (ONLY CSS LEVEL 1)
 *********************************************/

.black {
  color: black;
}

.silver {
  color: #c0c0c0;
}

.gray {
  color: #808080;
}

.white {
  color: #ffffff;
}

.maroon {
  color: #800000;
}

.red {
  color: #ff0000;
}

.purple {
  color: #800080;
}

.fuchsia {
  color: #ff00ff;
}

.green {
  color: #008000;
}

.lime {
  color: #00ff00;
}

.olive {
  color: #808000;
}

.yellow {
  color: #ffff00;
}

.navy {
  color: #000080;
}

.blue {
  color: #0000ff;
}

.teal {
  color: #008080;
}

.aqua {
  color: #00ffff;
}

/*********************************************
 * STRIKETHROUGH
 *********************************************/

 .line-through {
  text-decoration: line-through;
  text-decoration-style: wavy;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(76, 195, 255);
}

/*********************************************
 * ADMONITION ICONS
 *********************************************/

.admonitionblock td.icon {
  color: rgb(76, 195, 255);
}
