name: Test
on:
  pull_request:
    branches:
    - master

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: "1"
    steps:
    - uses: actions/checkout@v1
    - name: Build image
      run: docker build .
